.loginPage {
  background-image: url("../../../public/authImgs/authBg.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.loginBox {
  position: absolute;
  right: 130px;
  bottom: 193px;
}

.loginBlock {
  padding: 44px 50px;
  border-radius: 30px;
  background: #2a2c36;
  box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.loginTitle {
  color: #fafafa;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.56px;
}

.loginForm {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.loginInput {
  width: 100%;
  padding: 16px 18px 16px 50px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #fafafa;
  color: #fafafa;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  opacity: 0.8;
  border-radius: 10px;
  width: 330px;

  &::placeholder {
    color: #fafafa;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    opacity: 0.8;
  }
}

.errorInput {
  border: 1px solid #e74a3b;
}

.loginErrorAfter {
  position: relative;
  width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../../public/icons/error.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 18px;
  }
}

.loginEmailBefore {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../../public/icons/email.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    top: 18px;
    left: 18px;
    // background-color: aqua;
  }
}

.loginPasswordBefore {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../../public/icons/lock.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    top: 18px;
    left: 18px;
    // background-color: aqua;
  }
}

.loginBtn {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  padding: 21px 0;
  border-radius: 6px;
  color: #fafafa;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 26px;
}

.loginLink {
  display: block;
  margin-top: 18px;
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  // text-decoration-line: underline;
  // text-decoration-style: solid;
  // text-decoration-skip-ink: none;
  // text-decoration-thickness: auto;
  // text-underline-offset: auto;
  // text-underline-position: from-font;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
