.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroTitle {
  color: var(--bg-secondary-color);
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: -0.5px;
}

.heroTitleSpan {
  color: var(--accent-color);
}

.heroText {
  color: var(--text-secondary-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.36px;
  max-width: 465px;
  margin-top: 14px;
}

.heroSearchBox {
  margin-top: 50px;
}

.heroSearchInput {
  width: 254px;
  height: 24px;
  padding: 23px 48px;
  background-color: var(--bg-card-color);
  border-radius: 100px;
  border-bottom-left-radius: 300px;
  //   border-top-right-radius: 300px;

  &::placeholder {
    color: var(--subtext-color);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }
}

.heroSearchBtn {
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  width: 161px;
  height: 70px;
  background-color: #22252a;
  padding: 23px 52px;
  border-radius: 100px;
  border-bottom-left-radius: 300px;
  border-top-right-radius: 300px;
  margin-left: -50px;
}

.heroDishImg {
  width: 578px;
  height: 539px;
  margin-top: 100px;
}

.heroCategoriesBox {
  padding: 16px;
  background-color: var(--bg-card-color);
  width: 298px;
  border-radius: 8px;
}

.heroCategoriesText {
  color: var(--text-color);
  //   font-feature-settings: "liga" off, "clig" off;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.24px;
  max-width: 266px;
}

.heroCategoriesTextSpan {
  color: var(--accent-color);
}

.heroCategoriesLink {
  color: #3e4462;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 7px;
  margin-left: 72%;
}
