header {
    border: 1px solid green;
    position: absolute;
    width: 1270px;
    left: 50%;
    top: 0;
    transform: translate(-50%);
  
    display: flex;
    align-items: center;
  }
  
  .headerLogo {
    margin-right: 187px;
  }
  
  .headerNav {
    align-items: center;
    display: flex;
  }
  
  .headerNavList {
    display: flex;
    gap: 30px;
  }
  
  .headerNavItemPage {
    color: rgb(35, 38, 42);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
  }
  
  .headerNavItemPage:hover {
    color: rgb(139, 170, 54);
  }
  
  .headerSearch {
    margin-left: 33px;
  }
  
  .headerSearchSvg:hover path {
    stroke: rgb(139, 170, 54);
  }
  
  .userBoxRegist {
    margin-left: 227px;
  }
  
  .userBtnSignIn {
    color: rgb(255, 255, 255);
    border-radius: 24px 44px;
    background: rgb(139, 170, 54);
    border: 1px solid rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 20px;
  }
  
  .userBtnSignIn:hover {
    transition-delay: 0.2s;
    background-color: transparent;
    color: green;
    border-radius: 24px 44px;
    border: 1px solid green;
  }
  
  .user {
    display: flex;
  }
  
  .userImg {
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  
  .userName {
    margin-left: 14px;
    color: rgb(34, 37, 42);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 170%;
  }
  
  .boxTemeColor {
      display: flex;
    margin-left: 50px;
    width: 61px;
    height: 27px;
    border-radius: 50px;
    /* Switch - in shadow */
    box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1);
    background: rgb(239, 239, 239);
  }
  
  .boxBtnSun {
      display: block;
      margin-left: 3px;
      margin-top: 3px;
      width: 21px;
      height: 21px;
      border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255),
      rgb(232, 234, 234) 100%
    );
  }
  
  .boxBtnNight {
      display: none;
      margin-right: 3px;
      margin-left: auto;
      margin-top: 3px;
      width: 21px;
      height: 21px;
      border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255),
      rgb(232, 234, 234) 100%
    );
  }